<ion-app>

  <!--Side Menu-->
  <ion-menu [type]="'overlay'" content-id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu Content</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-menu-toggle>
        <ion-button>Close menu</ion-button>
      </ion-menu-toggle>
    </ion-content>
  </ion-menu>

  <!--Main page-->
  <div class="ion-page" id="main-content">

    <!--Page header-->
    <ion-header>
      <ion-toolbar>      
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
        <ion-title>Page Title</ion-title>
      </ion-toolbar>
    </ion-header>

    <!--Page content-->
    <ion-content class="ion-padding">
      <h2>Main content here</h2>
      <br />
    </ion-content>
  </div>
</ion-app>
